.selected-holidays {
    width: 90%;
    font-family: 'Amatic SC', cursive;
    font-size: 3vmin;
    margin-top: 6%;
}

.selected-country {
    text-align: center;
    font-size: 4vmin;
}
.title {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.title div {
    text-align: center;
    width: 50%;
}

.content {
    display: flex;
    justify-content: space-around;

}

.content div:first-child,
.content div:last-child {
    width: 50%;
}