.field {
    outline: none;
    border: none;
    font-size: 3vmin;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding: 2%;
}
.field__label {
    text-align: left;
    margin: 2% 0 2% 0;
}
.field__input {
    padding: 2%;
}
.--search {
    border-bottom: 1px solid #000000;
}
