body {
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 10;
    color: rgba(0, 0, 0, 0.804);
}

.greeting {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url(../../../public/mainbc.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
}

.moto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

h1 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 12vmin;
    color: white;
    margin: 0;
    padding: 0 0 3% 0;
    text-align: center;
}

h1 span {
    font-size: 14vmin;
    color: orange;
    font-family: 'Seymour One', sans-serif;
}

h3 {
    font-size: 4vmin;
    margin: 0;
    padding: 1%;
    font-family: 'Amatic SC', cursive;
    font-size: 6vmin;
}

ul {
    width: 40%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Amatic SC', cursive;
    font-size: 4vmin;


}

li {
    list-style-type: none;
    padding: 1% 2% 1% 2%;

}

li:hover {
    background-color: rgba(0, 0, 0, 0.146);
    border-radius: 10px 100px / 120px;
    cursor: pointer;
    color: orange;
}

.country-holiday {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
 footer {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.167);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.country-cities {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}