.card {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid black;
    margin: 1%;
    padding: 2%;
}
.card__icon {
    background-image: url(../../../public/city-icon.png);
    width: 5vw;
    height: 5vw;
    background-position: center;
    background-size: cover;
}
.card__name {
    text-align: center;
}
hr {
    color: black;
    width: 95%;
    margin-top: 2%;
}
button {
    width: 30%;
    margin: 0;
    background-color: transparent;
}
